* {
    box-sizing: border-box;
}

body {
    background-color: rgb(226, 226, 226);
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.dsp-flex {
    display: flex;
}

.flex1 {
    flex: 1;
}

.align-items-center {
    align-items: center;
}



.container {
    max-width: 1012px;
    margin: auto;
    min-height: 300px;
    flex-direction: column;
}

.center {
    margin: 40px auto;
    width: 300px;
}

.todo-title {
    text-align: center;
    font-size: 60px;
    letter-spacing: 5px;
    color: rgb(255, 179, 151);
}

.form .input-area .task {
    border: none;
    min-height: 50px;
    width: 100%;
    padding: 6px 8px;
    font-size: 16px;
    font-weight: 600;
    color: orangered;
    margin: 0;
    border-radius: 5px;
}

.shadow {
    box-shadow: 2px 2px 5px rgb(59, 59, 59);
}

.todo-list-wrp ul {
    background-color: royalblue;
    padding-bottom: 40px;
}

.todo-list-wrp ul li {
    border-bottom: 1px solid black;
    padding: 15px 10px;
    display: flex;
}

.checkbox {
    height: 30px;
    width: 30px;
}

.todo-names {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    text-transform: uppercase;
    pointer-events: none;
}

.remove {
    display: none;
    height: 30px;
    width: 30px;
    cursor: pointer;
    background-color: rgb(148, 143, 143);
    text-align: center;
    line-height: 30px;
}

.todo-list-wrp ul li:hover .remove {
    display: block;
}

.work-completed {
    background-color: rgb(106, 106, 168);
}