* {
    box-sizing: border-box;
}

.project {
    position: relative;
}

.model img {
    width: 100%;
    object-fit: cover;
    object-position: center center;
}

.model-wrp {
    position: absolute;
    width: 100%;
}
