.project {
    position: relative;
}

.model img {
    width: 100%;
    object-fit: cover;
    object-position: center center;
}

.model-s {
    position: absolute;
}

header nav {
    padding: 20px;
}
.logo-wrp {
    height: 15px;
}

.logo {
    height: 100%;
}

.more {
    display: block;
    position: relative;
    margin: auto;
    border-bottom: 2px solid white;
    width: 20px;
}

.more::before, .more::after {
    content: "";
    width: 20px;
    position: absolute;
    border-bottom: 2px solid white;
}

.more::before {
    bottom: 3px;
}

.more::after {
    top: 5px;
}
