*{
    box-sizing: border-box;
}

.container {
    width: 900px;
    height: 600px;
    margin: auto;
    background-color: red;
    position: relative;
}

.item {
    width: 50%;
    height: 50%;
    border: 1px solid black;
    position: absolute;
    margin-right: 5px;
    text-align: center;
}

.box-1 {
    left: 0;
}

.box-2 {
    right: 0;
}

.box-3 {
    bottom: 0;
}

.box-4 {
    bottom: 0;
    right: 0;
}

#header {
  position: relative;
}

#header:after {
  content: '';
  display: block;
  border-bottom: 3px solid red;
  width: 0;
  position: absolute;
  right: 50%;
  transition: 1s ease;
}

#header:hover:after { 
  width: 50%; 
}

#header:before {
    content: '';
    display: block;
    border-bottom: 3px solid red;
    width: 0;
    position: absolute;
    left: 50%;
    transition: 1s ease;
  }
  
  #header:hover:before { 
    width: 50%; 
  }